<div class="max-w-full">
  <div
    class="w-[95%] md:w-[88%] fixed z-50 top-20 md:top-2 right-4 md:right-2 search-bar mt-8"
    id="search-bar"
  >
    <button>
      <img
        src="../../../assets/icons/icon-search.svg"
        alt="Search Bar"
        class="w-10 h-10 absolute bottom-5"
      />
    </button>
    <input
      type="text"
      class="w-full p-6 bg-transparent placeholder:text-2xl placeholder:text-gray pl-14 outline-none text-white text-xl"
      [placeholder]="placeholder"
      (input)="onSearch($event)"
    />
  </div>
</div>
